# Ignore Python cache files, created by CQ-editor while editing CadQuery files.
__pycache__

# Ignore lossless versions of the training images for size reasons for now (>600 MiB).
/classifier-trainingdata-png-IGNORED/
